body {
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #074f31;
  font-weight: 400; }
  body div {
    display: block; }

* {
  box-sizing: border-box; }

a {
  color: #337ab7;
  text-decoration: none; }

li {
  list-style: none;
  display: list-item; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }
header .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  z-index: 999; }
header .navbar-default {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  margin: 0;
  background: #074f31;
  border: none;
  z-index: 999;
  border-radius: 0;
  position: fixed;
  width: 100%;
  max-height: 65px;
  transition: height 0.3s linear; }
  header .navbar-default .logo {
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
    text-decoration: none; }
    header .navbar-default .logo img {
      height: 130px;
      width: auto;
      position: relative;
      z-index: 20; }
  header .navbar-default .pull-left {
    float: left !important; }
  header .navbar-default .icon-ham {
    display: none;
    cursor: pointer;
    margin-right: 0;
    top: 0;
    margin-top: 25px; }
    header .navbar-default .icon-ham span {
      background-color: #fff;
      display: block;
      width: 100%;
      max-width: 27px;
      height: 3px;
      margin-bottom: 4px; }
  header .navbar-default .menu {
    float: right;
    margin-top: 21.2766px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px; }
    header .navbar-default .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 1px; }
    header .navbar-default .menu li {
      display: inline-block;
      vertical-align: top;
      margin: 0 18px 0 8px;
      font-size: 18px; }
    header .navbar-default .menu a {
      padding: 3px 0;
      color: #fff; }
    header .navbar-default .menu a:hover {
      color: #f1cb00; }
    header .navbar-default .menu .social {
      display: inline-block;
      vertical-align: middle;
      margin: 0; }
      header .navbar-default .menu .social .social-nav {
        padding-bottom: 22px; }
      header .navbar-default .menu .social li {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        font-style: normal;
        text-decoration: inherit; }
      header .navbar-default .menu .social .icon-instagram:before {
        content: "\f16d"; }
      header .navbar-default .menu .social .icon-facebook:before {
        content: "\f39e"; }
      header .navbar-default .menu .social .icon-youtube:before {
        content: "\f167"; }
    header .navbar-default .menu .hvr {
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden;
      padding-bottom: 23px; }
      header .navbar-default .menu .hvr:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #f1cb00;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left,  right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
    header .navbar-default .menu .hvr:hover:before {
      left: 0;
      right: 0; }
  @media (max-width: 767px) {
    header .navbar-default .logo {
      margin-top: 10px;
      margin-left: 1px; }
      header .navbar-default .logo img {
        height: 90px; }
    header .navbar-default .menu {
      display: none;
      position: absolute;
      overflow: hidden;
      right: 0;
      float: none !important;
      width: 35%;
      text-align: center;
      z-index: -1;
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
      margin: 0;
      padding: 0;
      padding-bottom: 15px;
      margin-top: 63px;
      background-color: #074f31;
      opacity: 1; }
      header .navbar-default .menu .social {
        display: block;
        margin-top: 10px; }
      header .navbar-default .menu .hvr {
        display: block;
        padding-bottom: 10px;
        margin-top: 20px; }
      header .navbar-default .menu li {
        font-size: 22px;
        margin: 0 20px 0 20px; }
    header .navbar-default .icon-ham {
      display: block !important;
      position: relative;
      float: right;
      margin-right: 5px;
      width: 45px;
      height: 45px;
      z-index: 10; } }
  @media (max-width: 415px) {
    header .navbar-default .menu {
      width: 100%; } }

.container-fluid .row {
  margin: 0; }
.container-fluid .wrapper {
  position: relative; }
.container-fluid .wrapper-vertical {
  display: flex;
  align-items: center; }
.container-fluid .hero-story-wrapper {
  background-color: #e3ebf7;
  background-image: url(../images/canadadry-story-header-desktop.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
.container-fluid .story-headline {
  text-align: center;
  line-height: 1.05;
  margin: 0 auto;
  letter-spacing: 5px;
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both; }
  .container-fluid .story-headline h1 {
    font-size: 8vw;
    text-transform: uppercase;
    opacity: 1; }
    .container-fluid .story-headline h1 span {
      display: block;
      font-family: adobe-garamond-pro,times,serif;
      text-transform: capitalize;
      font-weight: 600;
      font-style: italic;
      font-variant-ligatures: no-common-ligatures; }
.container-fluid .down {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 38px;
  height: 22px;
  cursor: pointer;
  background: url("../images/icon-chevron-down-green.png") no-repeat;
  background-size: 38px 22px;
  transition: all .2s linear; }
.container-fluid .bounce {
  animation: bounce 2s infinite; }
@media (max-width: 767px) {
  .container-fluid .hero-story-wrapper {
    background: url("../images/canadadry-story-header-mobile.jpg") no-repeat;
    background-size: 100% auto;
    background-position: top center;
    height: 60vh;
    max-height: 400px;
    background-attachment: fixed; }
  .container-fluid .story-headline h1 {
    font-size: 35px; } }
.container-fluid .story-founder .founder {
  background-image: url(../images/canadadry-story-jjmclaughlin-green.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
  background-position: center;
  height: 125px;
  min-height: calc(100vw/2.5);
  width: 50%;
  float: left; }
.container-fluid .story-founder .founder-copy {
  background-color: #edf7db;
  text-align: center;
  height: 125px;
  min-height: calc(100vw/2.5);
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center; }
  .container-fluid .story-founder .founder-copy h2 {
    width: 83%;
    text-transform: none;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px; }
@media (max-width: 1200px) {
  .container-fluid .story-founder .founder {
    min-height: calc(100vw/1.5); }
  .container-fluid .story-founder .founder-copy {
    min-height: calc(100vw/1.5); }
    .container-fluid .story-founder .founder-copy h2 {
      font-size: 2.2vh; } }
@media (max-height: 1100px) {
  .container-fluid .story-founder .founder {
    height: 400px; }
  .container-fluid .story-founder .founder-copy {
    height: 400px; } }
@media (min-width: 1200px) {
  .container-fluid .founder-copy h2 {
    font-size: 19px; } }
@media (max-width: 767px) {
  .container-fluid .story-founder .founder {
    width: 100%;
    min-height: calc(100vw/1.25); }
  .container-fluid .story-founder .founder-copy {
    width: 100%;
    min-height: calc(100vw/1.25); }
    .container-fluid .story-founder .founder-copy h2 {
      font-size: 3vh; } }
.container-fluid .story-mixer {
  width: 100%;
  height: 125px;
  min-height: 70vh;
  background-image: url(../images/canadadry-story-mixer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .container-fluid .story-mixer h2 {
    width: 50%;
    text-transform: none;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: #fff;
    padding: .75em 1em;
    background: rgba(53, 72, 89, 0.8);
    border: 1px solid #fff; }
@media (max-width: 1100px) {
  .container-fluid .story-mixer {
    background-position: left;
    min-height: 40vh; }
    .container-fluid .story-mixer h2 {
      width: 70%;
      font-size: 3vh; } }
@media (max-width: 767px) {
  .container-fluid .story-mixer {
    min-height: 40vh; }
    .container-fluid .story-mixer h2 {
      width: 80%;
      font-size: 22px; } }
.container-fluid .story-champagne .champagne-copy {
  background-color: #edf7db;
  text-align: center;
  height: 125px;
  min-height: calc(100vw/2.5);
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  float: left; }
  .container-fluid .story-champagne .champagne-copy h2 {
    width: 83%;
    text-transform: none;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px; }
.container-fluid .story-champagne .champagne {
  display: flex;
  background-image: url(../images/canadadry-story-champagne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
  background-position: center;
  height: 125px;
  min-height: calc(100vw/2.5);
  width: 50%; }
@media (max-width: 1200px) {
  .container-fluid .story-champagne .champagne {
    min-height: calc(100vw/1.5); }
  .container-fluid .story-champagne .champagne-copy {
    min-height: calc(100vw/1.5); }
    .container-fluid .story-champagne .champagne-copy h2 {
      font-size: 2.2vh; } }
@media (max-height: 1100px) {
  .container-fluid .story-champagne .champagne {
    height: 400px; }
  .container-fluid .story-champagne .champagne-copy {
    height: 400px; } }
@media (min-width: 1200px) {
  .container-fluid .champagne-copy h2 {
    font-size: 19px; } }
@media (max-width: 767px) {
  .container-fluid .story-champagne .champagne {
    width: 100%;
    min-height: calc(100vw/1.25); }
  .container-fluid .story-champagne .champagne-copy {
    width: 100%;
    min-height: calc(100vw/2); }
    .container-fluid .story-champagne .champagne-copy h2 {
      font-size: 3vh; } }
.container-fluid .story-today {
  width: 100%;
  height: 125px;
  min-height: 70vh;
  background-image: url(../images/canadadry-story-today-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .container-fluid .story-today h2 {
    width: 62%;
    text-transform: none;
    margin: 0 auto 65px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.5px;
    color: #fff;
    padding: .75em 1em;
    background: rgba(53, 72, 89, 0.8);
    border: 1px solid #fff; }
  .container-fluid .story-today .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 19px;
    padding: 10px 27px;
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .25s ease all; }
@media (max-width: 1100px) {
  .container-fluid .story-today {
    min-height: 50vh; }
    .container-fluid .story-today h2 {
      width: 80%;
      font-size: 3vh; } }
@media (max-width: 767px) {
  .container-fluid .story-today {
    min-height: 50vh; }
    .container-fluid .story-today h2 {
      width: 80%;
      font-size: 22px; }
    .container-fluid .story-today .btn {
      font-size: 17px; } }
.container-fluid .site-footer {
  background-color: #edf7db;
  min-height: 500px;
  width: 100%;
  text-align: center;
  color: #074f31; }
  .container-fluid .site-footer .logo {
    display: block;
    margin: 0 auto;
    padding-top: 50px; }
    .container-fluid .site-footer .logo img {
      height: 160px; }
  .container-fluid .site-footer .footer-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden; }
    .container-fluid .site-footer .footer-nav li {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 20px;
      cursor: pointer; }
      .container-fluid .site-footer .footer-nav li a {
        color: #074f31; }
  .container-fluid .site-footer p {
    margin-bottom: 0;
    padding: 0 20px; }
@media (max-width: 800px) {
  .container-fluid .site-footer .footer-nav {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0; }
    .container-fluid .site-footer .footer-nav li {
      position: relative;
      text-align: center;
      margin: 0;
      width: 33.33%;
      float: left;
      margin-bottom: 20px; } }
@media (max-width: 415px) {
  .container-fluid .site-footer .footer-nav li {
    width: 50%; } }

.clearFix {
  clear: both; }

/*# sourceMappingURL=style.css.map */
